args==0.1.0
arrow==0.13.1
astroid==2.1.0
binaryornot==0.4.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
clint==0.5.1
cookiecutter==1.6.0
coverage==4.5.2
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.3
django-bootstrap==0.2.4
django-bootstrap3==11.0.0
django-cors-headers==2.5.2
django-extensions==2.1.6
django-heroku==0.3.1
djangorestframework==3.9.2
expects==0.9.0
future==0.17.1
gunicorn==19.9.0
idna==2.8
isort==4.3.4
Jinja2==2.10
jinja2-time==0.2.0
lazy-object-proxy==1.3.1
mamba==0.10
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.0.1
poyo==0.4.2
psycopg2==2.7.6.1
psycopg2-binary==2.7.7
PyJWT==1.7.1
pylint==2.2.2
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
urllib3==1.24.1
whichcraft==0.5.2
whitenoise==4.1.2
wrapt==1.10.11
